*{
  text-align: center;  
  color: rgb(255, 255, 255);
  
}

.item:hover img{
    opacity: 0.33;
}

h1{
    color: aliceblue;
}

.header{
    background: rgb(51, 49, 49);
    display: flex;
    justify-content: flex-end;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color:  rgb(51, 49, 49);
    display: flex;
    justify-content: center;
    

}

.footer img{
    margin-left: 15px;
    margin-right: 15px;

}